# Visual Studio 2015 cache/options directory
.vs/
*.user

# Build results
VKMessenger/bin/*
!VKMessenger/bin/Release/
VKMessenger/bin/Release/*
#!VKMessenger/bin/Release/ru/
!VKMessenger/bin/Release/en/
bld/
obj/

# The packages folder can be ignored because of Package Restore
**/packages/*

# Visual LocBaml translation project
*.tsf
# Windows scripts
*.bat
